FOR LOOP
a for loop is used for iterating over a sequence(that is either a list, a tuple, a dictionary ,a set , or a string).
this is less like the for keyword in other programming languages ,and works more like an iterator method as found in other object oriented programming languages.

Example-1
iterating through lists

In [11]:
list1 = [1,2,3,4,5,6,7,8,9]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9

lets print even number from the list

In [14]:
for num in list1:
  if num % 2 == 0:
        print(num)

2
4
6
8

now put an else statement here

In [15]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number

example 3
lets create a for loop for the sum of list

In [30]:
list_sum = 0

for num in list1:
    list_sum = list_sum + num
       
print(list_sum)

45

list sum using the symbol +=

In [31]:
list_sum = 0

for num  in list1:
    list_sum += num
    
print(list_sum)

45

example :- 4

In [38]:
for letter in 'kaki ashok teja.':
    print(letter)

k
a
k
i

a
s
h
o
k

t
e
j
a
.

example:- 5
for loop iterating through the tuples.

In [45]:
tuple = (12, 23, 34, 67 ,35)

for t in tuple:
    print(t)

12
23
34
67
35

Example :-6
tuples packing and unpacking with for loop.

In [60]:
list2 = [(2,4),(6,8),(10,12)]
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

now with unpacking the tuples

In [62]:
for (t1,t2) in list2:
 print(t1)

2
6
10

Example :-7
Let's start exploring iterating through Dictionaries .

In [63]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [65]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [69]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [66]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [67]:
d.values()

dict_values([1, 2, 3])

In [70]:
sorted(d.values())

[1, 2, 3]